force-app/main/default/flows/Update_Staff_to_Isolation.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <constants>
        <name>Null</name>
        <dataType>String</dataType>
    </constants>
    <decisions>
        <description>Determine whether to update the record or not</description>
        <name>COVID_Status_Decision</name>
        <label>Available?</label>
        <locationX>386</locationX>
        <locationY>155</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>In_Isolation</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Get_Status.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Not Available</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Status_Not_Changed</targetReference>
            </connector>
            <label>In Isolation</label>
        </rules>
        <rules>
            <name>On_Staff</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Get_Status.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>On staff</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Status.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Null</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Staff_Record_to_Isolation</targetReference>
            </connector>
            <label>On Staff</label>
        </rules>
    </decisions>
    <description>Updates the staff status to Not Available with today&#39;s date as diagnosis date. Used for Action on Staff object</description>
    <interviewLabel>Update Staff to Isolation {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update Staff to Not Available</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <description>Get current Staff record fields</description>
        <name>Get_Status</name>
        <label>Get Status</label>
        <locationX>202</locationX>
        <locationY>151</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>COVID_Status_Decision</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <description>Update the Staff Status to Not Available from today&#39;s date.</description>
        <name>Update_Staff_Record_to_Isolation</name>
        <label>Update Staff Record to Not Available</label>
        <locationX>574</locationX>
        <locationY>148</locationY>
        <connector>
            <targetReference>Staff_Updated</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Exposure_Symptoms_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Not Available</stringValue>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <screens>
        <name>Staff_Updated</name>
        <label>Staff Updated</label>
        <locationX>741</locationX>
        <locationY>148</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Success</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;color: rgb(41, 208, 3); background-color: rgb(255, 255, 255);&quot;&gt;Staff Status set to Not Available from today&#39;s date. All future availability records will be set to Not Available.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Status_Not_Changed</name>
        <label>Status Not Changed</label>
        <locationX>395</locationX>
        <locationY>355</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>StatusNotChanged</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;color: rgb(234, 9, 9); background-color: rgb(255, 255, 255);&quot;&gt;Staff &lt;/span&gt;&lt;span style=&quot;color: rgb(234, 9, 9); font-size: var(--lwc-fontSize3,0.8125rem); font-family: var(--lwc-fontFamily,&amp;quot;Salesforce Sans&amp;quot;, Arial, sans-serif);&quot;&gt;is already Not Available. Please review their Status if you want to change.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>56</locationX>
        <locationY>153</locationY>
        <connector>
            <targetReference>Get_Status</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <description>Current Staff recordId</description>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Status</name>
        <dataType>Picklist</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
