force-app/main/default/flows/Update_Staff_COVID_Positive.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <decisions>
        <name>COVID_Status_Decision</name>
        <label>COVID Status Decision</label>
        <locationX>350</locationX>
        <locationY>324</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>COVID_Positive</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Status.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>COVID positive</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Status_Not_Changed</targetReference>
            </connector>
            <label>Already COVID Positive</label>
        </rules>
        <rules>
            <name>Not_COVID_Positive</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Get_Status.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>On staff</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Status.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Isolation - COVID symptoms/exposure</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Staff_Record_COVID_Positive</targetReference>
            </connector>
            <label>Not COVID Positive</label>
        </rules>
    </decisions>
    <description>Updates the staff status to COVID positive with today&#39;s date as diagnosis date</description>
    <interviewLabel>Update Staff COVID Positive {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update Staff COVID Positive</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Status</name>
        <label>Get Status</label>
        <locationX>168</locationX>
        <locationY>322</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>COVID_Status_Decision</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <description>Update the Staff Status to COVID positive and set COVID diagnosis date to today</description>
        <name>Update_Staff_Record_COVID_Positive</name>
        <label>Update Staff Record COVID Positive</label>
        <locationX>623</locationX>
        <locationY>328</locationY>
        <connector>
            <targetReference>Staff_Updated</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>COVID positive</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>COVID_Diagnosis_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>COVID positive</stringValue>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <screens>
        <name>Staff_Updated</name>
        <label>Staff Updated</label>
        <locationX>787</locationX>
        <locationY>328</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Success</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;img src=&quot;https://thrivehealth--c.documentforce.com/sfc/servlet.shepherd/version/download/0683h000001Mg0w?asPdf=false&amp;amp;operationContext=CHATTER&quot;&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;color: rgb(41, 208, 3);&quot;&gt;Staff Status set to COVID positive with today&#39;s date. Update COVID diagnosis date if not today.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Status_Not_Changed</name>
        <label>Status Not Changed</label>
        <locationX>356</locationX>
        <locationY>537</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>StatusNotChanged</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;color: rgb(240, 3, 3);&quot;&gt;&lt;span class=&quot;ql-cursor&quot;&gt;﻿&lt;/span&gt;&lt;/span&gt;&lt;span style=&quot;color: rgb(244, 4, 4);&quot;&gt;Staff is already in that Status. Please review their Status if you want to change.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>322</locationY>
        <connector>
            <targetReference>Get_Status</targetReference>
        </connector>
    </start>
    <status>Obsolete</status>
    <variables>
        <description>record ID of the Staff record</description>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Status</name>
        <dataType>Picklist</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
